@import "../../styles/variables";

@import "../../styles/mixins";

.ActivityPage {
  @include flex-element(column);

  overflow-x: hidden;
  font-family: $text-font;

  .topSection {
    @include flex-element(column, space-around, baseline, nowrap, 15px);
    width: 100%;
    height: 90vh;
    padding: 100px 40px 0 40px;

    background-image: var(--i);
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    background-position: top;
    background-size: cover;

    .topText {
      @include flex-element(row, space-around, baseline, nowrap, 20px);

      .text {
        align-self: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        h1 {
          font-family: $titles-font;
          font-size: 35px;
          text-shadow: 1px 2px 4px #0a0f0f;
        }

        h2 {
          font-size: 25px;
          text-shadow: 1px 2px 4px #0a0f0f;
          font-weight: 400;
        }
      }

      .polaroid {
        align-self: center;
        width: 480px;
        height: fit-content;
        background-color: white;
        border: 25px solid white;
        border-bottom: 60px solid white;

        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.425);

        .polaroidIMG {
          max-width: 350px;
          min-height: 300px;
          border-radius: 3%;
        }

        p {
          margin-top: 10px;
          font-family: $handwrite-font;
          font-size: 60px;
          text-align: center;
        }
      }
    }

    .buttonCart {
      @include flex-element(row, center, center);
      position: absolute;
      top: 86vh;
      width: 200px;
      height: 50px;
      transition: 0.5s;
      transition-delay: 0.5;
      background-color: lightseagreen;
      cursor: pointer;
      font-size: 1.5rem;

      .buttonOverlay {
        background-color: lightseagreen;
        color: white;
        position: absolute;
        z-index: 99;
      }

      p {
        position: absolute;
      }

      .heart {
        position: absolute;
        left: 0;
        font-size: 20px;
        color: lightseagreen;
      }

      .heartActive {
        transform: translateX(-70px);
        transition: 0.5s;
        color: lightseagreen;
      }

      .cart {
        position: absolute;
        left: 0;
        font-size: 20px;
        color: lightseagreen;
      }

      .cartActive {
        transform: translateX(70px);
        transition: 0.5s;
        color: lightseagreen;
      }

      .add {
        color: white;
        transition: 0.5s;
        transition-delay: 0.5;
      }

      .thanks {
        z-index: -1;
        color: lightseagreen;
      }

      .thanksActive {
        transition: 0.5s;
        transition-delay: 0.5s;
        color: black;
      }

      .hidden {
        display: none;
      }
    }
    .plusMinus {
      @include flex-element(row, center, center, nowrap);
      height: 50px;
      position: absolute;
      top: 86%;
      left: 8.5%;
      text-align: center;
      z-index: -1;
      background-color: lightseagreen;
      font-size: 13px;
      color: white;
      opacity: 0;

      button {
        text-align: center;
        width: 50px;
        background-color: lightseagreen;
        color: white;
      }
    }

    .plusMinusActive {
      @include flex-element(row, space-between, center, nowrap);
      position: absolute;
      height: 50px;
      width: 200px;
      top: 81%;
      transition: 0.5s;
      text-align: center;
      background-color: lightseagreen;
      font-size: 20px;
      color: white;
      opacity: 1;
      font-size: 1.5rem;

      button {
        font-size: 1.5rem;
        height: 50px;
        text-align: center;
        width: 50px;
        background-color: lightseagreen;
        color: white;
      }
    }
  }

  .info {
    padding: 50px 40px;
    font-size: 20px;

    h2 {
      font-family: $titles-font;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.842);
    }

    p {
      padding: 20px 0;
    }
  }

  .map {
    h2 {
      font-size: 1.8rem;
      font-family: $titles-font;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.842);
      padding: 0 40px;
    }
    a {
      display: none;
    }

    p {
      padding: 20px 40px;
      font-size: 15px;
      font-weight: 400;
    }

    .noMap {
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 905px) {
  .ActivityPage {
    .topSection {
      .topText {
        .text {
          h1 {
            font-size: 30px;
          }

          h2 {
            font-size: 20px;
          }
        }

        .polaroid {
          width: 400px;

          .polaroidIMG {
            max-width: 300px;
            min-height: 280px;
          }

          p {
            font-size: 40px;
          }
        }
      }
      .plusMinusActive {
        position: absolute;
        height: 50px;
        top: 81%;

        button {
          height: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .ActivityPage {
    .topSection {
      .topText {
        .text {
          h1 {
            font-size: 28px;
          }

          h2 {
            font-size: 18px;
          }
        }

        .polaroid {
          width: 300px;
          border: 20px solid white;

          .polaroidIMG {
            max-width: 220px;
            min-height: 200px;
          }

          p {
            font-size: 37px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ActivityPage {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .topSection {
      width: 100vw;
      height: 50vh;
      padding: 20px;
      padding-top: 80px;
      .topText {
        .text {
          align-self: center;

          h1 {
            font-size: 17px;
          }

          h2 {
            font-size: 13px;
          }
        }

        .polaroid {
          width: 180px;
          border: 10px solid white;

          .polaroidIMG {
            max-width: 120px;
            min-height: 120px;
          }

          p {
            font-size: 28px;
          }
        }
      }
      .buttonCart {
        position: absolute;
        top: 47.7vh;
        width: 110px;
        height: 30px;
        font-size: 0.8rem;

        .heartActive {
          transform: translateX(-35px);
          transition: 0.5s;
          color: lightseagreen;
        }

        .cartActive {
          transform: translateX(35px);
          transition: 0.5s;
          color: lightseagreen;
        }
      }

      .plusMinus {
        top: 48%;
        left: 6%;
        height: 25px;
        opacity: 0;
      }
      .plusMinusActive {
        top: 45%;
        height: 25px;
        width: 110px;
        opacity: 1;
        font-size: 1.2rem;

        button {
          font-size: 1.2rem;
          height: 25px;
        }
      }
    }

    .info {
      padding: 20px;
      font-size: 15px;
    }

    .map {
      h2 {
        font-size: 1.5rem;
        padding: 0 20px;
      }
      a {
        display: none;
      }

      p {
        padding: 20px;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
