@import "../../styles/mixins";
@import "../../styles/_variables";
.ActivitiesHomeList {
  @include flex-element($gap: 15px);
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .ActivitiesHomeList {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .button {
    display: none;
  }
}
