@import "../../styles/_variables";
@import "../../styles/mixins";

.AttractionsList {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 93.5%;
  margin: 0;
  height: fit-content;

  .name {
    color: $dark-grey;
    font-family: $titles-font;
    display: flex;
    justify-content: flex-start;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    box-shadow: none;

    .button {
      background-color: transparent;
      border: none;
      color: $dark-grey;
      transition: 0.5s;
      cursor: pointer;
      width: min-content;
      padding: 0px;

      svg {
        transform: scale(3);
        height: fit-content;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .cards {
    @include flex-element($justify: flex-start, $gap: 2rem);
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px 0px 20px;
    width: 100%;
  }

  h2 {
    font-family: $titles-font;
    color: lightseagreen;
    white-space: nowrap;
  }
}
