@import "../../styles/variables";
@import "../../styles/mixins";

.Hero {
  img {
    filter: brightness(0.7);
  }
}

.city {
  @include element-position(
    $position: absolute,
    $top: 250px,
    $right: auto,
    $bottom: auto,
    $left: 150px,
    $z-index: 0
  );

  width: 313px;
  height: 100px;
  font-weight: 700;
  font-size: 110px;

  color: white;
  font-family: $bold-font;
  font-style: normal;
  line-height: 120px;

  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.75);
}

.country {
  @include element-position(
    $position: absolute,
    $top: 180px,
    $right: auto,
    $bottom: auto,
    $left: 160px
  );

  width: 1620px;
  height: 45px;

  color: lightseagreen;
  font-family: $handwrite-font;
  font-style: normal;
  font-weight: 800;
  font-size: 85px;
  line-height: 58px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);

  transform: rotate(-13.5deg);
}

.infoBox {
  @include flex-element(column, space-between, center);
  @include element-position(
    $position: absolute,
    $top: 55%,
    $right: 10%,
    $bottom: auto,
    $left: auto
  );

  padding: 15px;
  width: 370px;
  height: 220px;
  color: rgb(49, 49, 49);
  background: rgba(245, 244, 244, 0.712);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.288);
  border-radius: 10px;

  .description {
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.212);
  }

  .readMore {
    display: flex;
    font-weight: 400;
    font-size: 1rem;
    text-align: right;
    align-self: flex-end;
    justify-content: flex-end;
    .link {
      text-decoration: none;

      .text {
        color: lightseagreen;
        font-family: $handwrite-font;
        font-size: 2rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.733);
      }
    }
  }
}

.readMore:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .city {
    @include element-position(
      $position: absolute,
      $top: 150px,
      $right: auto,
      $bottom: auto,
      $left: 15px
    );

    font-weight: 400;
    font-size: 50px;
  }

  .country {
    @include element-position(
      $position: absolute,
      $top: 35px,
      $right: auto,
      $bottom: auto,
      $left: 25px
    );

    font-size: 48px;
  }

  .infoBox {
    padding: 10px;
    width: 248px;
    height: 152px;
    right: 0;

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
    }

    .readMore {
      .link {
        .arrow {
          padding-left: 15px;
          font-size: 1.5rem;
        }
      }
    }
  }
}
