@import "../../styles/variables";
@import "../../styles/mixins";
.Hero {
  @include element-position($position: relative, $top: -60px, $right: auto);
}
.city {
  margin-left: 20px;
  color: $almost-black;
  font-family: $titles-font;
}

.country {
  margin-left: 25px;
  color: $petrol;
  font-family: $text-font;
}
