@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$light-cyan: #dcfaf4;
$almost-black: #0a0f0f;
$light-grey: #95a5a5;
$dark-grey: #343434;
$mid-grey: #4f6970;
$petrol: #2f4d54;
$mid-cyan: #b6cdca;
$dark-cyan: #6e8f8f;

$bold-font: "Abril Fatface", cursive;
$handwrite-font: "Dancing Script", cursive;
$titles-font: "Lato", sans-serif;
$text-font: "Raleway", sans-serif;
