@import "../../styles/mixins";
@import "../../styles/_variables";

.Home {
  @include flex-element(column);
  .carousels {
    .title {
      padding: 0 15px;
      color: $dark-grey;
      font-family: $titles-font;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.322);
    }
  }
}
