@import "../../styles/mixins";
@import "../../styles/_variables";

.Home {
  @include flex-element(column);
  .carousels {
    padding: 10px 40px;
    .title {
      font-size: 1.7rem;
      padding: 10px 30px;
      color: $dark-grey;
      font-family: $titles-font;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
    }
  }
}

@media only screen and (max-width: 600px) {
  .Home {
    .carousels {
      padding: 10px;
      .title {
        font-size: 1.4rem;
        padding: 5px 0px;
      }
    }
  }
}
