@import "../../styles/mixins";
@import "../../styles/_variables";

.Home {
  @include flex-element(column);
  padding: 0 0 10px 0;
  .carousels {
    padding: 10px 0;
    .title {
      padding: 0 15px;
      color: $dark-grey;
      font-family: $titles-font;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.322);
    }
  }
}
