@import "../../styles/mixins";
@import "../../styles/_variables";

.CityActivity {
  @include flex-element(column, center, center);
  padding: 0 10px 10px 10px;
  width: 100%;

  .box {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    gap: 15px;

    .skeletron {
      height: 100vh;
      width: 99%;
    }
  }
}
@media only screen and (max-width: 1150px) {
  .CityActivity {
    .box {
      @include flex-element(column, center, center);
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .CityActivity {
    .box {
      @include flex-element(column, center, center);
      gap: 15px;
    }
  }
}
