@import "../../styles/mixins";
@import "../../styles/_variables";

.box {
  @include flex-element(row, space-around, center);

  button {
    background-color: transparent;
    border: none;
    color: $dark-grey;
    transition: 0.5s;
    cursor: pointer;
    width: min-content;

    svg {
      font-size: 2rem;
    }

    &:hover {
      color: lightseagreen;
      transition: 0.5s;
    }
  }

  .NoTopCityCardList {
    @include flex-element($gap: 15px);

    overflow: hidden;
    padding: 15px;
    width: 88%;
  }
}
@media only screen and (max-width: 600px) {
  .box {
    .NoTopCityCardList {
      overflow: scroll;
      padding: 15px 2px;
      width: 95%;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .button {
      display: none;
    }
  }
}
