@import "../../styles/mixins";
@import "../../styles/_variables";

.ActivitiesHomeCard {
  @include border(0, 3%);

  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.24);
  transition: 0.5s;
  height: 14rem;
  background-color: white;
  color: $almost-black;

  &:hover {
    background-color: #dbdbdb;
    transform: scale(0.98);
    transition: 0.5s;
    filter: brightness(1.1);
    cursor: pointer;
  }
  .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    height: 15rem;
  }

  .photo {
    object-fit: cover;
    @include generic-appereance(200px, 60%);
    @include border(0, 3%);
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .tourInfo {
    @include flex-element(column, space-between);
    padding: 0 5px 7px 5px;
    height: 40%;

    .name {
      margin: 0rem;
      max-height: 60%;
      font-family: $titles-font;

      font-size: 0.9rem;
      text-shadow: 1px 1.2px 3px rgba(0, 0, 0, 0.226);
      text-overflow: ellipsis;
    }
    .bottom {
      @include flex-element(row, space-between, center, $gap: 10%);

      .infoPlace {
        display: flex;
        align-items: center;

        .locality {
          span {
            color: black;
          }
          color: rgba(0, 0, 0, 0.658);
          font-family: $text-font;
          font-size: 0.75rem;
          margin: 0;
          width: 120px;
        }
      }

      .price {
        @include flex-element(row, center, flex-end);
        width: max-content;
        font-family: $text-font;
        margin: 0;
        align-self: flex-end;
      }

      .locality {
        color: lightseagreen;
        font-family: $text-font;
        font-size: 0.8rem;
        margin: 0;
      }
    }

    .price {
      font-family: $text-font;
      margin: 0;
    }
  }
  .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .ActivitiesHomeCard {
    height: 12rem;
    .link {
      height: 12rem;
    }
    &:hover {
      transform: none;
      filter: none;
    }

    .photo {
      object-fit: cover;
      @include generic-appereance(180px, 45%);
      @include border(0, 3%);
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
    }

    .tourInfo {
      @include flex-element(column, space-between);
      padding: 0 5px 7px 5px;
      height: 52%;

      .bottom {
        .locality {
          color: lightseagreen;
          font-family: $text-font;
          font-size: 0.7rem;
          margin: 0;
          width: 120px;
        }

        .price {
          font-size: 0.8rem;
        }
      }
    }
  }
}
