@import "../../styles/_variables";
@import "../../styles/_mixins";

.link {
  text-decoration: none;
  .AttractionCard {
    border-radius: 5px;
    min-width: 280px;
    height: 120px;
    background-size: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.701);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0px;

    &:hover {
      position: relative;
      bottom: 10px;
      transition: 0.5s;
      filter: brightness(1.1);
      cursor: pointer;
    }

    .reviews {
      width: 100%;
      display: flex;
      justify-content: end;

      .reviewsSpecific {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.2rem 0.2rem;
        display: flex;
        justify-content: center;
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.699);
        backdrop-filter: blur(5px);
        color: white;
        font-family: $text-font;
        text-align: center;
      }
    }

    .info {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 100%;
      padding: 0 1rem 0.5rem 1rem;
      background: linear-gradient(
        180deg,
        rgba(10, 15, 15, 0) 0%,
        rgba(10, 15, 15, 0) 30%,
        #0a0f0fe1 100%
      );

      .name {
        font-family: $titles-font;
        font-size: larger;
        color: white;
        text-shadow: 1px 1px 4px $almost-black;
      }
      .locality {
        font-family: $text-font;
        text-align: end;
        color: white;
        text-shadow: 1px 1px 4px $almost-black;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .link {
    .AttractionCard {
      min-width: 220px;
      height: 120px;

      &:hover {
        position: relative;
        bottom: 0px;
        filter: brightness(1);
      }

      .info {
        .name {
          font-size: 1.1rem;
        }
        .locality {
          font-size: 0.9rem;
        }
      }
    }
  }
}
