@import "../../styles/variables";
@import "../../styles/mixins";

.Gallery {
  @include flex-element(column, center, stretch, nowrap, 10px, 99%);

  font-family: $text-font;
  color: rgb(49, 49, 49);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;

  padding-right: 15px;

  p:first-of-type:first-letter {
    font-size: 2rem;
    font-weight: bold;
    font-family: $handwrite-font;
    color: lightseagreen;
  }

  .row {
    @include flex-element(row, space-around, stretch, nowrap, 10px);

    font-weight: 500;

    .box {
      font-size: 110%;
      width: 100%;

      height: calc(70vh + 10px);
      padding-right: 5px;
      border-right: 2px solid lightseagreen;
      padding: 5px;

      .info {
        @include flex-element(row, flex-end, center);
        color: lightseagreen;
        font-size: 2rem;
        font-family: $handwrite-font;
        font-weight: bold;
        gap: 6px;

        p:first-of-type:first-letter {
          font-size: 1.5rem;
        }

        span {
          align-self: center;
          color: black;
          padding: 0 15px;

          svg {
            transform: scale(2);
            height: 20px;
          }
        }
      }
    }

    .photos {
      @include flex-element(column, flex-start, stretch, nowrap, 10px);

      .photo1 {
        box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.24);
        width: 47vw;
        height: 35vh;
        background-size: cover;
        background-position-y: center;
      }

      .photo2 {
        box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.24);
        width: 47vw;
        height: 35vh;
        background-size: cover;
        background-position: center;
      }
    }

    .box2 {
      box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.24);
      width: 55vw;
      height: calc(70vh + 10px);
      background-size: cover;
      background-position-x: 75%;
    }
  }

  .row2 {
    font-size: 110%;
    padding-left: 5px;
    border-top: 2px solid lightseagreen;
    font-weight: 500;

    .info {
      @include flex-element(row, flex-end);
      color: lightseagreen;
      font-size: 2rem;
      font-family: $handwrite-font;
      font-weight: bold;

      span {
        align-self: center;
        color: black;
        padding: 0 15px;

        svg {
          transform: scale(2);
          height: 20px;
        }
      }
    }
  }

  .row3 {
    @include flex-element(row, space-around, stretch, nowrap, 10px);

    .photo3 {
      box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.24);
      width: 40vw;
      height: 35vh;
      background-size: cover;
      filter: brightness(0.9);
    }
    .photo4 {
      box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.24);
      width: 90vw;
      height: 35vh;
      background-size: cover;
      background-position-y: center;
    }
  }
}

@media only screen and (min-width: 1230px) {
  .Gallery {
    .row {
      font-size: 1rem;

      .box {
        .info {
          font-size: 1.8rem;
          p:first-of-type:first-letter {
            font-size: 1.8rem;
          }
        }
      }
    }

    .row2 {
      font-size: 1rem;
      .info {
        font-size: 1.8rem;
      }
    }
  }
}

@media only screen and (max-width: 1229px) {
  .Gallery {
    padding-right: 9px;
    .row {
      font-size: 0.9rem;

      .box {
        .info {
          font-size: 1.3rem;
          p:first-of-type:first-letter {
            font-size: 1.5rem;
          }
        }
      }
    }

    .row2 {
      font-size: 1rem;
      .info {
        font-size: 1.3rem;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .Gallery {
    padding-right: 4px;
  }
}

@media only screen and (max-width: 911px) {
  .Gallery {
    padding-right: 0px;
    .row {
      .box {
        font-size: 1.04rem;
        width: 100vw;
        height: calc(60vh + 10px);
      }
      .photos {
        .photo1 {
          width: 55vw;
          height: 30vh;
        }

        .photo2 {
          width: 55vw;
          height: 30vh;
        }
      }

      .box2 {
        display: none;
      }
    }
    .row2 {
      font-size: 1.04rem;

      .info {
        p:first-of-type:first-letter {
          font-size: 1.6rem;
        }
      }
    }

    .row3 {
      .photo3 {
        width: 40vw;
        height: 30vh;
      }
      .photo4 {
        width: 90vw;
        height: 30vh;
      }
    }
  }
}
@media only screen and (max-width: 775px) {
  .Gallery {
    padding-right: 0px;
    .row {
      .box {
        font-size: 0.9rem;

        .info {
          font-size: 1.1rem;
        }
      }
      .photos {
        .photo1 {
          width: 50vw;
        }

        .photo2 {
          width: 50vw;
        }
      }
    }
    .row2 {
      font-size: 0.9rem;
      .info {
        font-size: 1.1rem;
      }
    }
  }
}

@media only screen and (max-width: 643px) {
  .Gallery {
    .row {
      .box {
        height: calc(54vh + 10px);
      }

      .photos {
        .photo1 {
          width: 45vw;
          height: 27vh;
        }

        .photo2 {
          width: 45vw;
          height: 27vh;
        }
      }
    }
    .row2 {
      font-size: 0.9rem;
      .info {
        font-size: 1.1rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Gallery {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;

    p:first-of-type:first-letter {
      font-size: 1.5rem;
    }

    .row {
      @include flex-element(column, flex-start, stretch, nowrap, 10px);

      .box {
        width: 95vw;
        height: max-content;
        border-top: 2px solid lightseagreen;
        border-bottom: 2px solid lightseagreen;
        border-right: none;
      }

      .photos {
        .photo1 {
          width: 95vw;
          height: 20vh;
        }

        .photo2 {
          width: 95vw;
          height: 20vh;
        }
      }

      .box2 {
        display: block;
        width: 95vw;
        height: 25vh;
        background-position-x: none;
        background-position-y: 40%;
      }
    }

    .row2 {
      width: 95vw;
      border-bottom: 2px solid lightseagreen;
    }

    .row3 {
      @include flex-element(column, space-around, stretch, nowrap, 10px);
      .photo3 {
        width: 95vw;
        height: 25vh;
        background-position-y: center;
      }

      .photo4 {
        width: 95vw;
        height: 25vh;
        background-position-y: bottom;
      }
    }
  }
}
