@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Footer {
  font-family: $text-font;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);

  .box {
    @include flex-element(row, space-between, center);
    height: 13vh;
    width: 100%;
    background-color: #aaaaaa;
    padding: 0 20px;

    .icons {
      svg {
        color: white;
        font-size: 32px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          transition: 0.5s;
          color: #23bdab;
        }
      }
    }

    img {
      filter: drop-shadow(0px 2px 8px #000000);
      width: 180px;
      padding: 5px;
      &:nth-child(2) {
        display: none;
      }
    }

    .list {
      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding: 0px;
        list-style-type: none;

        .link {
          color: white;
          text-decoration: none;
          font-size: 1.1rem;

          &:hover {
            transition: 0.5s;
            color: #23bdab;
            cursor: pointer;
          }
        }
      }
    }
  }

  .box2 {
    @include flex-element(row, center, center);
    width: 100%;
    height: 1.5rem;
    background-color: $dark-grey;
    color: white;
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  .Footer {
    .box {
      height: 10vh;
      padding: 0 10px;

      .icons {
        svg {
          font-size: 23px;

          &:hover {
            color: $light-cyan;
          }
        }
      }

      .logo {
        img {
          &:nth-child(1) {
            display: none;
          }

          &:nth-child(2) {
            display: block;
            width: 75px;
            padding: 10px 0;
          }
        }
      }

      .list {
        ul {
          padding-left: 10px;
          gap: 3px;

          .link {
            font-size: 1rem;
            &:hover {
              color: $light-cyan;
            }
          }
        }
      }
    }

    .box2 {
      font-size: 0.7rem;
    }
  }
}
