@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Footer {
  font-family: $text-font;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);

  .box {
    @include flex-element(row, space-around, center);
    height: 23vh;
    width: 100%;
    background-color: #aaaaaa;
    .boxSocial {
      .icons {
        svg {
          color: white;
          font-size: 32px;
          transition: 0.5s;
          cursor: pointer;
          filter: drop-shadow(0px 2px 2px #00000054);

          &:hover {
            transition: 0.5s;
            color: $dark-grey;
          }
        }
      }
    }

    img {
      filter: drop-shadow(0px 2px 8px #000000);
      width: 170px;
      padding: 5px;
      &:nth-child(2) {
        display: none;
      }
    }

    .list {
      @include flex-element(row);
      gap: 20px;
      color: white;
      font-weight: 700;
      font-size: 1.1rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding: 0px;
        list-style-type: none;

        .link {
          color: white;
          text-decoration: none;
          font-size: 1rem;
          transition: 0.5s;
          font-weight: 400;

          &:hover {
            transition: 0.5s;
            color: $dark-grey;
            cursor: pointer;
          }
        }
      }
    }
  }

  .box2 {
    @include flex-element(row, center, center);
    width: 100%;
    height: 1.5rem;
    background-color: $dark-grey;
    color: white;
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  .Footer {
    .box {
      @include flex-element(column, center, center);
      height: 28vh;
      padding: 0 10px;
      gap: 10px;
      .boxSocial {
        order: 2;
        .icons {
          @include flex-element(row);
          gap: 10px;

          svg {
            font-size: 35px;

            &:hover {
              color: $light-cyan;
            }
          }
        }
      }

      .logo {
        display: none;
      }

      .list {
        order: 1;
        ul {
          padding-left: 10px;
          gap: 3px;
          padding-left: 0px;

          p {
            font-size: 1rem;
          }

          .link {
            font-size: 1rem;
            &:hover {
              color: $light-cyan;
            }
          }
        }
      }
    }

    .box2 {
      font-size: 0.7rem;
    }
  }
}
