@import "../../styles/variables";
@import "../../styles/mixins";

.AttractionPage {
  font-family: $text-font;

  .hero {
    .image {
      width: 100%;
      height: 50vh;
      background-size: cover;
    }
    .transition {
      position: relative;
      top: -51px;
      height: 3rem;
      background-color: white;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }

  .main {
    padding: 0px 30px 0 30px;

    .info {
      display: flex;
      padding: 1rem 0;
      justify-content: space-between;

      .name {
        margin-bottom: 1rem;
        font-family: $titles-font;
        font-weight: 800;
        text-shadow: 1px 1px 2px #0a0f0f38;
        color: rgba(0, 0, 0, 0.842);
      }

      .reviews {
        height: 3rem;
        min-width: 2.5rem;
        max-width: 2.7rem;
        text-align: center;
        border: 2px lightseagreen solid;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
    .address {
      display: flex;
      font-weight: 100;
      color: rgb(34, 34, 34);
      font-size: 0.8rem;
    }
    .description {
      line-height: 1.5rem;
      padding: 10px 0;
    }

    .photo {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      img {
        box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.24);
        width: 250px;
      }
    }
  }
  .navigate {
    padding: 1rem 0px;
    border-top: 2px solid lightseagreen;

    h2 {
      font-family: $titles-font;
      font-weight: 800;
      text-shadow: 1px 1px 2px #0a0f0f38;
      color: rgba(0, 0, 0, 0.842);
      padding: 10px 0;
    }

    p {
      padding: 10px 0;
    }

    h4 {
      font-size: 0.9rem;
      padding: 5px 0;
      text-align: center;

      a {
        text-decoration: none;
        color: lightseagreen;
        transition: 0.5s;

        &:hover {
          color: rgba(0, 0, 0, 0.842);
          transition: 0.5s;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .AttractionPage {
    display: flex;
    gap: 0;
    justify-content: center;

    .transition {
      display: none;
    }

    .main {
      padding: 90px 30px 0 30px;
      width: 50%;
      .info {
        padding: 1rem 0;

        .name {
          font-size: 2rem;
        }
      }
      .address {
        font-size: 1.2rem;
      }
      .description {
        font-size: 1.3rem;
      }

      .photo {
        img {
          box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.24);
          width: 300px;
        }
      }
    }
    .navigate {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.3rem;
      }

      h4 {
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .AttractionPage {
    display: flex;
    gap: 0;
    justify-content: center;

    .hero {
      width: 50%;
      height: 120vh;
      order: 2;

      .image {
        object-fit: cover;
        background-position: left;
        height: 120vh;
      }
    }
    .transition {
      display: none;
    }

    .main {
      padding: 90px 30px 0 30px;
      width: 50%;

      .info {
        justify-content: space-between;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .AttractionPage {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .hero {
      height: 40vh;

      .image {
        height: 100%;
        background-size: cover;
      }
      .transition {
        position: relative;
        top: -51px;
        height: 3rem;
        background-color: white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
    }

    .main {
      .info {
        display: flex;
        margin-bottom: 1rem;

        .name {
          margin-bottom: 1rem;
          font-family: $titles-font;
          font-weight: 800;
          text-shadow: 1px 1px 2px #0a0f0f38;
          color: rgba(0, 0, 0, 0.842);
        }

        .reviews {
          height: 3rem;
          min-width: 2.5rem;
          max-width: 2.7rem;
          text-align: center;
          border: 2px lightseagreen solid;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
    }
    .navigate {
      h4 {
        a {
          &:hover {
            color: lightseagreen;
          }
        }
      }
    }
  }
}
