@import "../../styles/mixins";
@import "../../styles/_variables";

.AirActivity {
  @include flex-element(column, center, center);
  padding: 10px;
  width: 100%;

  .box {
    @include flex-element(column, center, center);
    gap: 15px;
  }
}
