.mapContainer {
  height: 300px !important;

  overflow: hidden;
}

.sidebar {
  display: none;
  }


.mapboxgl-canvas-container
  .mapboxgl-interactive
  .mapboxgl-touch-drag-pan
  .mapboxgl-touch-zoom-rotate {
  height: 300px !important;

  overflow: hidden;
}

.mapboxgl-canvas {
  height: 300px !important;

  overflow: hidden;
}
